@media screen and (max-width:491px) {
    .social-links{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(75px,1fr));
        place-items: center;
        gap:2.5rem 0;
    }
}