.loginInput:focus{
    outline: none;
}
.registerLink:hover{
    color:#fff;
}
.loginSeparator{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-separator{
    flex: 1;
    height: 2px;
    background-color: #ccc;
    margin: 0 20px;
}